h2{
    color: #f6f8f7
}

#miside{
    color: indianred;
}

.systemcolor {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(153, 9, 250);
}

ul, li {
    font-family: Arial, Helvetica, sans-serif;
}
li{
    margin-top: 5px;
}

.sidebar{
    min-height: 100vh;
    background-color: rgb(102, 172, 216);
    width: 200px;
}
.content{
    padding: 20px;
}

/* hay tres formas de aplicar estilos */
/* 
1.- mediante las etiquetas, por ejemplo h3 { }
2.- mediante un id
3.- mediante la class
*/
